.assessment{
    width: 640px;
    margin:auto;
    margin-top: 150px;
    background: wheat;
    color: #262626;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    padding: 40px 50px;
}

.assessment hr{
    height: 2px;
    border: none;
    background: #707070;
}

.assessment h2{
    font-size: 27px;
    font-weight: 500;
}

.assessment ul li{
    display: flex;
    align-items: center;
    height: 70px;
    padding-left: 15px;
    border: 1px solid #686868;
    border-radius: 8px;
    margin-bottom: 20px;
    cursor: pointer;
}

.assessment button{
    margin: auto;
    width: 250px;
    height: 65px;
    background: blue;
    color: white;
    font-size: 25px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
}

.assessment .index{
    margin: auto;
    font-size: 18px;
}

.assessment .correct{
    background: #dffff2;
    border-color: green;
}
.assessment .wrong{
    background: #ffebeb;
    border-color: red;
}
 